@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body{
    margin: 0;
    padding: 0;
}

.links{
    display: flex;
    justify-content: center;
    margin-top: 200px;  
    gap: 20px;  
    align-items: center;
    font-family: verdana;
}

.links .link_1{
    color: #000;
} 

.links .link_1:hover{
    color: green;
}

.links .link_2{
    color: green;
    text-decoration: none;
}

.links .link_2:hover{
    text-decoration: underline;
}

.links .link_3{
    border: 2px solid green;
    padding: 8px 21px;
    text-decoration: none;
    color: #000;
}

.links .link_3:hover{
    background-color: green;
    color: #fff;
}

.links .link_4{
    background-color: red;
    padding: 10px 21px;
    text-decoration: none;
    color: #fff;
    opacity: 0.5;
}

.links .link_4:hover{
    opacity: 1;
}
